// $main: #d5d5d5;
$main: #d9a4b3;
// $main: #426137;
// $main: #d6d385;
// $secondary: #ffa4c2bd;
$blackish: #3f3f3f;
$bg: #1d1d1d;
$text: #fff;
$dottedSize: 5px;
// $lg: -webkit-linear-gradient(
//   38deg,
//   rgba(248, 67, 179, 1) 4%,
//   rgba(225, 69, 204, 1) 30%,
//   rgba(206, 70, 252, 1) 71%,
//   rgba(0, 213, 255, 1) 96%
// );
